<div class="queue">
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
    <div class="cell">
        <h3>p1</h3>
    </div>
</div>