@import '../../../variables.scss';

.disabled{
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;


    .start-btn{
        font-size: 18px;
        font-weight: 700;
        color: $primary-color;
        padding: 8px 12px;
        border: none;
        background-color: white;
        border-radius: 4px;
        touch-action: all;

        transition: all 0.2s ease-in-out;

        &:hover{
            cursor: pointer;
            background-color: rgb(196, 196, 196);
        }
    }
}