@if (addingProcess) {
  <app-create-process-modal></app-create-process-modal>
}

@if (isFinished) {
  <app-results-modal [idleTime]="idleTime" [responseTimes]="responseTimes" [turnaroundTimes]="turnaroundTimes" (closeResultsModalEvent)="closeResultsModal()"></app-results-modal>
}

<div class="container">
  <div class="top">
    <app-chart (start)="start($event)"></app-chart>
  </div>
  <div class="bottom">
    <div class="bottom-left">
      <app-process-form [disableAddProcesses]="disableAddProcesses"></app-process-form>
    </div>
    <div class="bottom-right">
      <app-queue [step]="step"></app-queue>
    </div>
  </div>
</div>
