
<div class="random-btn-container">
    <button [ngClass]="disableAddProcesses? 'random-btn disabled' : 'random-btn'" [disabled]="disableAddProcesses" (click)="generateRandomProcesses()">GENERATE RANDOM</button>
</div>
<div class="table">
    <div class="table-head" #tableHead>

        <div class="table-head-item">
            <h3>Process</h3>
        </div>
        <div class="table-head-item">
            <h3>Arrival Time</h3>
        </div>
        <div class="table-head-item">
            <h3>Service Time</h3>
        </div>
        <div class="table-head-item">
            <h3>Priority</h3>
        </div>

    </div>

    <div class="table-body">

        @for (process of processes; track process.id) {
            <div [ngClass]="process.serviceTime <= 0 ? 'process animate__animated animate__fadeIn finished' : 'process animate__animated animate__fadeIn'">
                <div class="table-body-item">
                    <h4>{{process.id}}</h4>
                </div>
                <div class="table-body-item">
                    <h4>{{process.arrivalTime}}</h4>
                </div>
                <div class="table-body-item">
                    <h4>{{process.serviceTime}}</h4>
                </div>
                <div class="table-body-item">
                    <h4>{{process.priority}}</h4>
                </div>
            </div>
        }
        @empty {
            <h3 class="no-processes">No processes available.</h3>
        }

        
    </div>

    <div class="actions">
        <button [ngClass]="processes.length > 10 || disableAddProcesses? 'add-process-btn disabled' :'add-process-btn'" (click)="openAddProcessModal($event)" #tooltip="matTooltip"
        matTooltip="Add Process"
        [matTooltipPosition]="'right'" [disabled]="processes.length > 10 || disableAddProcesses">+</button>
    </div>

</div>